@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;

}

body {
    background-color: #09738a;
    color: #9ed1b7;
}

header {
    max-width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    color: #092b5a;
}

header img {
    width: 100px;
}



.container-main {

    min-height: 100vh;

}

.significado {
    margin: 20px;
    text-align: justify;
}

form {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: row;


}

fieldset {

    padding: 10px;
    border-radius: 20px;


}

input {
    background-color: #e7d9b4;
    border: none;
    padding: 10px;
    margin: 4px;
    border-radius: 3px;

}

.Parts-Forms {
    margin: 20px 0
}

button {

    margin: 10px;
    padding: 10px 40px;
    text-align: center;
    background-color: #9ed1b7;
    color: #3b7a5a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    scale: calc(1.05);
    background-color: #3b7a5a;
    transition: all 300ms ease-in-out;
    color: #9ed1b7;
}

hr {
    margin: 10px;
}

section {
    margin: auto;
}

#texto {
    text-align: justify;
}

.Descricao {
    margin: 20px;
    text-align: center;
    transition: All 300ms ease-out;
}

.btn {
    margin: 5px;
    padding: 10px 40px;
    text-align: center;
    background-color: #9ed1b7;
    color: #3b7a5a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.genero:checked+.btn {
    scale: calc(1.05);
    background-color: #3b7a5a;
    color: #9ed1b7;
}

.genero {
   display: none;
}

@media (max-width: 768px) {
    form {
        flex-direction: column;
    }

}
